*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height:100vh;
    gap: 5px;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.response-h1{
    display: none;
}

.text-content{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: -15px;
}
.text-content h1, .text-content h2{
    font-size: 56px;
    font-family:cursive;
    animation: popup 1s linear;    
}

@keyframes popup{
    0%{
        transform: scale(0.0);
    }
    100%{
        transform: scale(1.0);
    }
}



.imgbox img{
    width:350px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
    transition: all 1s;
}

.imgbox img:hover{
    transform: scale(1.02);
}



@media screen and (max-width:900px) {
    /* .imgbox img{ */
        /* width: 300px; */
        /* height: 300px; */
    /* } */

    .text-content h1, .text-content h2{
        font-size: 45px;
    }
    }

    @media screen and (max-width:650px){

        .container{
            justify-content: unset;
            padding-top:60px;
            gap: 20px;
            height: unset;
    
        }
        .imgbox img{
            height: 370px;
            width: 320px;
        }
   
        
        .text-content h1, .text-content h2{
            font-size: 35px;
        }
  
}   

@media screen and (max-width:500px) {
    .imgbox img{
        height: 350px;
        width: 300px;
    }
.container{
    min-height: 100vh;
    gap: -20px;
    justify-content: space-between;
    /* padding-top:50px; */
   

}
    
    .text-content h1, .text-content h2{
        /* display: none; */
    }    



}   